.l-btn {
    background: transparent;
    color: gray;
}



.datagrid-row-alt{
	background:transparent;
	color: #666;			
}


.datagrid-row-alt:hover{
	background: #e0ecff;
    color: #666666;
}

.datagrid-header-row{
	background: #e9f3fd;
    color: #666666;
}
/* 表格左侧序列*/
.datagrid-td-rownumber {
    border-left: 1px solid #CCCCCC;
    background-color: #ffffff;
    background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0);
}
.datagrid-cell-rownumber {
    color: #2e6e9f;
}
.datagrid-row-over{
	background: #e9f3fd;
    color: #2e6e9f !important;
}
.datagrid-header-inner {
    float: left;
    width: 10000px;
    background: #e9f3fd;
}
.l-btn-left .l-btn-icon-left:hover{
	background:#777;
}
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner {
    border-color: #bbd5ef;
}
/* 表格边框线 */
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: rgb(187, 213, 239);
    /* border: #bbd5ef; */
    border-style: solid;
    color: #2e6e9f;
}

.pagination table {
    float: left;
    height: 30px;
   background: transparent;
}

/*.l-btn-left .l-btn-icon-left:hover{
	background:#777;
	
}*/
a.l-btn.l-btn-small.l-btn-plain.l-btn-disabled.l-btn-plain-disabled{
	color: white;
}

a.l-btn.l-btn-small.l-btn-plain.l-btn-disabled.l-btn-plain-disabled:hover{
	background: #ffffff;
}

.l-btn-icon-left .l-btn-text {
	 color: gray;
    margin: 0 4px 0 24px;
}
